<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Reuniones | Listado</title>
</head>
<body>
	<h1>Listado de reuniones</h1>
	<ul>
		<li th:each="reunion:${reuniones}">
			<span th:text="${reunion.asunto}">Asunto</span> 
			(<span th:text="${#temporals.format(reunion.fecha, 'dd-MMM-yyyy')}">Fecha</span>)
			<ol>
				<li th:each="persona:${reunion.asistentes}">
					<span th:text="${persona.nombre}"></span> 
					<span th:text="${persona.apellidos}"></span> 
				</li>
			</ol>
		</li>
	</ul>
</body>
</html>